@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Pacifico');
*{ 
box-sizing:border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/*----------------stile base--------------- */
img{
    display: block;
    width: 100%;
    max-width:100%;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
    width: 100%;
    margin:auto;   
    
}
.container--flex{
    display:flex;
    /* opzionale in questo caso col flex lo usiamo ricordati kevin*/ 
    
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;
}
.column{
 width:100%;
    
}

/*----------------stile header--------------- */

.main-header{
    widows: 100%;
}
.logo{
    font-size: 1.8em;
    color:#DE423A;
    padding:10px;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}
.main-header__contactInfo__phone{
    background: #DE423A;
    color: white;
    margin:0 auto;
    padding: 10px;    
}
.main-header__contacInfo__phone{
    background: #DE423A;
    color: white;
    margin: 0 auto;
    padding: 10px;    
}
.main-header__contacInfo__address{
    padding: 10px;
    margin:0;
}
/*lo usato perche erano uno vicino l'altro,seleziona tutti elementi che hanno icon (classe=icon-),gli icons seleziona con before*/ 
.main-header[class*="icon-"]:before{
    position: relative;
    top:2px;
    right: 5px;
}
/*----------------stile menu--------------- */
.main-nav{
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}
.icon-menu{
    display:block;
    color:white;
    border: 1px solid white;
    border-radius: :3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}
.social-icon{
    display: flex;
    justify-content: space-between;
}
.social-icon [class*="icon-"]{
    color:black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon__link{
    text-decoration:none;
}
.menu{
    position: absolute;
    top:60px;
    left:0;
    width: 100%;
    background: rgba(0,0,0,.85);
    padding: 0;
    margin: 0;
    list-style: none;  
    text-align: center;
}
.menu__link{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}/*cambia di colore quando muovi il cursore hover*/
.menu__link:hover{
    background:  #DE423A;
}
.menu_link--select{
    background: #DE423A;
    
}
/*----------------stile banner--------------- */
.banner{
    margin-top: -55px;
    position: relative;
}
.banner:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    /*valore per la trasparenzia nella imagine*/ 
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    top:0;
}
.banner__img{
    width: 100%;
    height: 500px;
    /* proprieta  di css ci aiuta con l'immagine non si a large*/
    object-fit: cover;
}
.banner__content{
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    /*importante cioe  vuol dire che stara davanti del sotto fondo nero*/
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
    
    }





