<label for="email"><b>Email</b></label><br>
<input type="text" placeholder="Email" name="email" required>
<br>
<br>
<label for="email"><b>Username</b></label><br>
<input type="text" placeholder="Email" name="email" required>
<br>
<br>
<label for="psw"><b>Password</b></label><br>
<input type="password" placeholder="Password" name="psw" required>
<br>
<br>
<label for="psw-repeat"><b>Conferma Password</b></label><br>
<input type="password" placeholder="Conferma Password" name="psw-repeat" required>